button:not(:focus-visible), .btn:not(:focus-visible) {
    box-shadow: none !important;
}

p {
    margin-bottom: 0px;
}

.documents-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.documents-page-menus-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.documents-search-menu {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.documents-customer-search-container {
    flex-grow: 1;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.documents-customer-search-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.documents-search-by-number-input {
    width: 8em;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    margin-right: 0.5em;
}

    .documents-search-by-number-input::-webkit-outer-spin-button,
    .documents-search-by-number-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.documents-customer-search-input {
    flex-grow: 1;
    margin-right: 0.5em;
}

.documents-customer-search-transliterate-button {
    border-radius: 0%;
    padding: 0.1em 0.5em;
    margin: 0.2em 0.25em 0.2em 0em;
}

.documents-search-container {
    flex-grow: 1;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.documents-search-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.documents-search-input {
    flex-grow: 1;
    margin-right: 0.5em;
}

.documents-invalid-user-container {
    flex-grow: 1;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.documents-customer-search-results-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

::deep .documents-customer-search-results {
    width: 100%;
    background-color: inherit;
    z-index: 2;
}

::deep .documents-customer-search-results-dropdown-list {
    max-height: 15em;
    border: 1px gray solid;
}

.document-customer-list-item {
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
}

    .document-customer-list-item:hover {
        background-color: lightgray;
    }

    .document-customer-list-item.selected {
        background-color: gray;
    }
    
.document-customer-no-items-div {
    width: 100%;
    padding: 0.5em 0.5em;
    background-color: white;
}

.document-customer-search-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.document-customer-search-date-label {
    margin-right: 0.25em;
    margin-bottom: 0px;
}

.document-search-results-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.document-search-results-table-container {
    width: 35%;
    border-right: 3px solid black;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
    .document-search-results-table-container.loading {
        height: 100%;
        justify-content: center;
    }

.document-search-results-table {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
    overflow-y: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    background-color: #FFFFFF;
}

    .document-search-results-table th, .document-search-results-table td {
        border: none;
    }

    .document-search-results-table tr {
        border: none;
    }

    .document-search-results-table.loading
    {
        display: none;
    }

.document-search-results-table-head {
    position: sticky;
    top: 0;
    background-color: inherit;
    white-space: nowrap;
    z-index: 1;
}

.document-search-results-table-head-row {
    white-space: nowrap;
}

.document-search-results-table-head-row-centered-item {
    text-align: center;
}

.document-search-result-item {
    border-top: 1px darkgray solid !important
}

    .document-search-result-item > td {
        padding-bottom: 0.20em;
    }

    .document-search-result-item:hover {
        background-color: lightgray;
    }
    
    .document-search-result-item.document-search-result-item-selected {
        background-color: gray;
    }

    .document-search-result-item.document-search-result-item-selected-for-group-export {
        background-color: #F7C0BC;
    }

    .document-search-result-item.document-search-result-item-selected.document-search-result-item-selected-for-group-export {
        background-color: #D3ADAA;
    }

.document-search-result-invoice-name-info {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.document-search-result-invoice-download-status-info {
    min-width: 15%;
    text-align: center;
}

.document-search-result-invoice-download-status-text {
    flex-wrap: nowrap;
    margin: 0 0.35em;
}

.document-search-result-invoice-total-price-info {
    min-width: 15%;
    text-align: center;
}

.document-search-result-invoice-total-price-text {
    white-space: nowrap;
    margin: 0 0.35em;
}

.document-search-result-invoice-payment-status-info {
    text-align: center;
    padding-right: 0.3em;
}

.document-search-results-table-head-downloads-column {
    padding: 0 0.5em;
}

.document-search-result-warranty-card-name-info {
    height: 100%;
    flex-grow: 1;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.document-search-result-warranty-card-download-status-info {
    min-width: 15%;
    text-align: center;
}

.document-search-result-warranty-card-download-status-text {
    white-space: nowrap;
    margin: 0 0.35em;
}

.document-search-result-warranty-card-warranty-info-container {
    min-width: 15%;
    padding-right: 0.3em;
    text-align: center;
}

.document-search-result-warranty-card-warranty-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.document-empty-search-result-placeholder-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.document-selected-data-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.document-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.document-export-options-container {
    width: 100%;
    max-height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0.5em;
}

.document-download-pdf-button {
    margin-right: 0.5em;
}

.document-export-button-with-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.document-export-button-with-loader-text.loading {
    height: 0px;
    visibility: hidden;
}

.document-export-buttons-loader {
    display: none;
    height: 1.5em;
    width: 1.5em;
    padding: initial;
    border-width: 3px;
}

    .document-export-buttons-loader.loading {
        display: unset;
    }

.document-view {
    width: 100%;
    height: 100%;
}

.download-confirmation-popup-content {
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.download-confirmation-popup-download-info-text {
    font-size: large;
    white-space: normal;
    text-align: center;
    margin-bottom: 0.5em;
}

.download-confirmation-popup-download-info-date-text {
    text-wrap-mode: nowrap;
}

.download-confirmation-popup-download-question-text {
    font-size: medium;
    white-space: normal;
    text-align: center;
}

.download-confirmation-popup-buttons-container {
    margin-top: 2em;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
}

.download-confirmation-popup-download-button {
    margin-right: 0.8em;
}

::deep .last-download-popup-body {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

::deep .last-download-popup-text {
    text-align: center;
    text-wrap: wrap;
}