.download-xml-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
}

.download-xml-option-container {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}

    .download-xml-option-container.loading {
        display: none;
    }

.download-xml-option-category-select {
    height: fit-content;
}

.download-xml-option-manufacturer-select {
    height: fit-content;
}

.download-xml-loader {
    display: none;
}

    .download-xml-loader.loading {
        display: unset;
    }