.product-barcode-reader-video-and-overlay-container {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

    .product-barcode-reader-video-and-overlay-container.started-scan {
        position: relative;
    }

.product-barcode-reader-video-container {
    display: flex;
    overflow: clip;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-barcode-reader-video {
    min-width: 300px;
    min-height: 300px;
    width: min-content;
    height: min-content;
    max-width: 100%;
    max-height: 100%;
}

.product-barcode-reader-scan-overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .product-barcode-reader-scan-overlay.started-scan {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .product-barcode-reader-scan-overlay .product-barcode-reader-scan-overlay-visible-part {
        width: 40%;
        height: 40%;
    }

    .product-barcode-reader-scan-overlay.started-scan .product-barcode-reader-scan-overlay-visible-part {
        background-color: transparent;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }

.product-barcode-reader-scan-overlay-visible-part-content {
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.product-barcode-reader-scan-overlay.started-scan .product-barcode-reader-scan-overlay-visible-part-content {
    display: none;
}