body > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

    body > div > main {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
    }

        body > div > main > article {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow-y: auto;
        }

p {
    margin-bottom: 0px;
}

button:not(:focus-visible), .btn:not(:focus-visible) {
    box-shadow: none !important;
}

::deep .whitespace-nowrap {
    white-space: nowrap;
}

.product-editor-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    --products-table-header-background-color: #FFFFFF;
}

.product-editor-page-header {
    width: 100%;
}

.header-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 0.5em;
}

.header-list-item {
    display: flex;
    align-items: center;
}

.header-user-input-list-item {
    flex-grow: 1;
    margin: 0em 0.5em;
}

.user-input {
    width: 100%;
}

.header-search-button-list-item {
    justify-content: center;
    margin-right: 0.5em;
}

.search-button {
    width: 100%;
}

.product-data-table-scrollable-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.product-data-table {
    width: 100%;
    max-height: 100%;
    background-color: var(--products-table-header-background-color);
}

.product-data-table-head {
    position: sticky;
    top: 0;
    background: inherit;
}

.legacy-xml-product-loader {
    width: 1em;
}

.product-data-table-entry {

}

    .product-data-table-entry.product-item-selected-for-change {
        background-color: #F7C0BC;
    }

::deep .product-image-file-active-button-container {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 0;
    bottom: 0px;
    pointer-events: none;
    user-select: none;
}

::deep .product-image-file-active-button {
    pointer-events: none;
}