@page "/promotionGroups"

@attribute [Authorize(Roles = "ProductEditor")]

@using MOSTComputers.Models.Product.Models.Promotions.Groups
@using MOSTComputers.Services.ProductRegister.Models.Requests.PromotionGroups
@using MOSTComputers.Services.ProductRegister.Services.Promotions.Groups.Contracts
@using MOSTComputers.UI.Web.Blazor.Services.BrowserResourceHashing
@using Microsoft.AspNetCore.Authorization

@inject IGroupPromotionService GroupPromotionService
@inject IPromotionGroupService PromotionGroupService

@inject WebResourceUrlsStorageService WebResourceUrlsStorageService
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

<HeadContent>
	<link href="css/ScopeHtmlAndBodyHeightToViewport.css" rel="stylesheet" />

	<script src="@_pageScriptPathWithVersion"></script>
</HeadContent>

<div class="promotion-groups-layout">
    <div class="promotion-groups-menu">

        <select id="promotion-group-select" class="promotion-groups-select">
			<option selected value="">All Groups</option>

			@foreach (PromotionGroup promotionGroup in PromotionGroupsInSelect)
			{
				<option value="@promotionGroup.Id">@promotionGroup.Name</option>
			}
		</select>

        <input id="promotion-group-search-input" class="promotion-groups-search-input"/>

		<button id="search-promotion-button" class="promotion-groups-search-button" onclick="searchGroupPromotions()">
			<p class="promotion-groups-search-button-text">
				Search
			</p>
		</button>

        <button id="add-promotion-button" class="promotion-groups-add-button" onclick="openPromotionEditorForPromotion()">
			<p class="promotion-groups-add-button-text">
				Add Promotion
			</p>
		</button>
    </div>

    <div class="promotion-groups-display">
		<div id="promotion-list-container" class="promotion-list-container"></div>

		<div id="promotion-edit-panel-container" class="promotion-edit-panel-container">
		</div>
    </div>
</div>

<input type="hidden" id="__RequestVerificationToken" 
	value="@Antiforgery.GetAndStoreTokens(HttpContextAccessor.HttpContext!).RequestToken" />

@code {

	internal const string _pageScriptUrl = "js/Pages/PromotionGroups.js";
	private string? _pageScriptPathWithVersion;

	public List<PromotionGroup> PromotionGroupsInSelect = new();

	protected override async Task OnInitializedAsync()
	{
		PromotionGroupsInSelect = await PromotionGroupService.GetAllAsync();

		_pageScriptPathWithVersion = WebResourceUrlsStorageService.GetWebRootAssetUrlWithVersion(_pageScriptUrl);
	}
}
