@page "/repairs"

@attribute [ExcludeFromInteractiveRouting]

<PageTitle>Repairs</PageTitle>

<div class="full-parent-width full-parent-height d-flex flex-column">
	<div class="full-parent-width d-flex flex-row align-items-center">
		<input type="text" class="me-4" placeholder="IMEI number..." />

		<button type="button" class="btn btn-primary" onclick="searchRepairs">
			Search
		</button>
	</div>

	<p class="m-0">After entering an existing IMEI number, you can see the repair status.</p>
</div>

@code {
}