body {
}

#previewProductsContainer {
    margin-top: 60px;
}

.create-request-name {
    text-align: center
}

.create-request-image-list {
    padding: 40px 0px;
}

    .create-request-image-list > li {
        display: inline;
    }

.create-request-origins-text {
    text-align: center;
    margin-bottom: 40px;
}

.create-request-characteristics-text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.create-request-important-characteristic {
    color: #e6382c;
}

.invalid-characteristic-name-text {
    color: #d11b0e;
    font-size: 12px;
    margin-bottom: 1px;
}