#ProductImages_popup {
    padding-bottom: 6px;
}

#ProductImages_popup_main_img_display {
    background-color: white;
    height: 80%;
    max-height: 400px;
    display: flex;
    justify-content: center;
}


#productImageDisplay_ul {
    height: 100px;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
    scroll-margin-top: 5px;
    white-space: nowrap;
    overflow-y: hidden;
    align-items: center;
}

    #productImageDisplay_ul > li {
        display: inline;
        margin: 0px 6px;
    }

        #productImageDisplay_ul > li > button {
            height: 92px;
        }

            #productImageDisplay_ul > li > button > img {
                height: 85px;
            }

#ProductImages_modal_footer_buttons_table {
    margin: 0px;
    padding: 0px;
}

    #ProductImages_modal_footer_buttons_table > td {
        width: 50%;
        padding: 0px;
    }
