@page
@using MOSTComputers.Models.Product.Models
@using MOSTComputers.UI.Web.RealWorkTesting.Models.ProductCharacteristicsComparer
@using MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.ProductCharacteristicsComparer

@model MOSTComputers.UI.Web.RealWorkTesting.Pages.ProductCharacteristicsComparerModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/BodyFullHeight.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/ProductCharacteristicsComparer.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/RandomColorGeneration.js"></script>
    <script src="~/js/ElementSorting.js"></script>
    <script src="~/js/ElementDisplayToggle.js"></script>
    <script src="~/js/Pages/ProductCharacteristicsComparer.js"></script>
}

<div id="characteristics_comparer_local_and_external_table_container" class="full-parent-height flex-row display-flex-not-important">
    <div id="local_xml_data_container" class="full-parent-height d-flex flex-column me-3"
         style="width: 50%;">
        <header class="full-parent-width">

            <ul class="d-flex list-style-none mb-2">
                <li class="d-flex align-content-center flex-wrap me-2">
                    <label>Local:</label>
                </li>

                <li class="d-flex align-content-center flex-wrap" style="flex-grow: 0.5;">
                    <label class="switch">
                        <input id="productCompareEditor_LocalProductEditorContainer_ProductOrXmlCheckBox" type="checkbox"
                            onchange="toggleViews('local_xml_textbox_container', 'local_product_characteristics_data_container')">
                        <span class="slider round"></span>
                    </label>
                </li>

                <li class="display-flex-not-important justify-content-center align-content-center flex-wrap flex-grow-1 ms-2 me-2">
                    <button id="local_xml_data_container_compare_in_category_button" type="button"
                        class="btn btn-outline-primary full-parent-width"
                        onclick="compareExternalAndLocalDataForCategoryFromFile(
                            'local_product_characteristics_category_to_compare_select',
                            'local_product_characteristics_data_container',
                            'external_product_characteristics_data_container',
                            'characteristics_comparer_relationships_table_view_container',
                            'product_characteristics_compare_relationships_table',
                            'local_xml_data_container_compare_in_category_button',
                            'local_xml_data_container_compare_in_category_loader')">
                        Compare All In Category

                    </button>

                    <div id="local_xml_data_container_compare_in_category_loader" class="round-loader-default" style="display: none;"></div>
                </li>

                <li class="d-flex align-content-center flex-wrap">
                    <select id="local_product_characteristics_category_to_compare_select">
                        @foreach (Category category in Model.GetAllCategories())
                        {
                            <option value="@category.Id">@category.Description</option>
                        }
                    </select>
                </li>
            </ul>
        </header>
        <div id="local_xml_textbox_container" class="full-parent-height">
            <textarea id="local_xml_textbox" class="full-parent-width full-parent-height"></textarea>
        </div>
        <div id="local_product_characteristics_data_container" class="full-parent-height" style="display: none;">
            <partial name="ProductCharacteristicsComparer/_LocalCharacteristicsListPartial"
                model='@new LocalCharacteristicsListPartialModel()
                {
                    Characteristics = ProductCharacteristicsComparerModel.LocalDistinctCharacteristics,
                    ExternalAndLocalCharacteristicRelations = ProductCharacteristicsComparerModel.ExternalAndLocalCharacteristicRelations
                }' />
        </div>
    </div>

    <div id="external_xml_data_container" class="full-parent-height d-flex flex-column"
         style="width: 50%;">

        <header class="full-parent-width">
            <ul class="d-flex list-style-none mb-2">
                <li class="d-flex align-content-center flex-wrap me-2">
                    <label>External:</label>
                </li>

                <li class="d-flex align-content-center flex-wrap flex-grow-1">
                    <label class="switch">
                        <input id="productCompareEditor_LocalProductEditorContainer_ProductOrXmlCheckBox" type="checkbox"
                            onchange="toggleViews('external_xml_textbox_container', 'external_product_characteristics_data_container')">
                        <span class="slider round"></span>
                    </label>
                </li>

                <li class="d-flex align-content-center flex-wrap">
                    <button type="button" class="btn btn-outline-primary" onclick="toggleViews(
                        'characteristics_comparer_local_and_external_table_container',
                        'characteristics_comparer_relationships_table_view_container')">
                        View Relationships
                    </button>
                </li>

                <li class="d-flex align-content-center flex-wrap">
                    <button id="external_xml_data_container_compare_button" type="button"
                        class="btn btn-outline-primary"
                        onclick="compareExternalAndLocalData('external_xml_textbox',
                            'local_product_characteristics_data_container',
                            'external_product_characteristics_data_container',
                            'characteristics_comparer_relationships_table_view_container',
                            'product_characteristics_compare_relationships_table',
                            'external_xml_data_container_compare_button',
                            'external_xml_data_container_compare_loader')">
                        Compare
                    </button>

                    <div id="external_xml_data_container_compare_loader" class="round-loader-default" style="display: none;"></div>
                </li>

                <li class="d-flex align-content-center flex-wrap">
                    <button id="external_xml_data_container_compare_with_file_button" type="button"
                        class="btn btn-outline-primary" onclick="compareExternalAndLocalDataFromFile(
                            'local_product_characteristics_data_container',
                            'external_product_characteristics_data_container',
                            'characteristics_comparer_relationships_table_view_container',
                            'product_characteristics_compare_relationships_table',
                            'external_xml_data_container_compare_with_file_button',
                            'external_xml_data_container_compare_with_file_loader')">
                        Compare With File
                    </button>

                    <div id="external_xml_data_container_compare_with_file_loader"
                         class="round-loader-default" style="display: none;">
                    </div>
                </li>
            </ul>
        </header>
        <div id="external_xml_textbox_container" class="full-parent-height">
            <textarea id="external_xml_textbox" class="full-parent-width full-parent-height"></textarea>
        </div>
        <div id="external_product_characteristics_data_container" class="full-parent-height" style="display: none;">
            <partial name="ProductCharacteristicsComparer/_ExternalPropertiesListPartial"
                model='@new ExternalPropertiesListPartialModel()
                {
                    Properties = ProductCharacteristicsComparerModel.ExternalDistinctProperties,
                    ExternalAndLocalCharacteristicRelations = ProductCharacteristicsComparerModel.ExternalAndLocalCharacteristicRelations
                }' />
        </div>
    </div>
</div>

<div id="characteristics_comparer_relationships_table_view_container" style="display: none;">
</div>

<div id="characteristics_comparer_relationships_table_xml_view_container" class="full-parent-height" style="display: none;">
</div>

@Html.AntiForgeryToken()