p {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

.main-info-and-images-container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(60%, 83.333%) minmax(16.667%, max-content);
    grid-template-rows: auto auto;
}

.name-column {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3em;
}

.main-info-and-download-buttons-container {
    display: flex;
    flex-direction: row;
}

.main-info-container {
    display: flex;
    justify-content: start;
}

.name-and-partnumber-container {
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: max-content;
}

.main-product-info-text {
    margin-bottom: 0.5em;
}

.invalid-ean-code {
    color: red;
}

.download-buttons-container {
    height: min-content;
    display: flex;
    flex-direction: row;
}

.images-column {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    min-width: 35%;
    max-width: 45%;
    min-height: 15em;
    max-height: 18em;
}

.carousel-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item-image {
    max-width: 100%;
    max-height: 100%;
}

.carousel-indicator {
    width: 6em;
    min-width: fit-content;
    height: 4em;
    padding: 0.5em 1em;
    margin: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-indicator:hover {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.15rem #0E0D0D;
    }

    .carousel-indicator:focus {
        box-shadow: none;
    }

    .carousel-indicator.item-active {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #BD1105;
    }

.carousel-indicator-image {
    max-width: 100%;
    max-height: 100%;
}

.price-and-promotion-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: start;
}

.price-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price {
    width: 100%;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    text-align: right;
    height: fit-content;
    padding: 0.5em;
    font-size: 1.1em;
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.promotion-picture-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0.25em;
}

.promotions {
    width: 100%;
    height: fit-content;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0.5em;
    font-size: 0.9em;
    margin-top: 0px;
}

.promotion {
    width: 100%;
    height: fit-content;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.promotion-period {
    width: 100%;
    height: fit-content;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.promotion-type-text {
    margin-right: 0.25em;
}

.price-display-span {
    margin-left: 15px;
}

.secondary-price-display-span {
    white-space: nowrap;
    font-size: 14px;
}

@media (max-width: 992px) {
    .price-wrapper {
        align-items: flex-start !important;
        padding-left: 2rem;
    }
}

@media (max-width: 685px) {
    .main-info-and-images-container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    .name-column {
        grid-row: 1;
    }

    .main-info-and-download-buttons-container {
        flex-direction: column-reverse;
    }

    .main-info-container {
        justify-content: center;
    }

    .name-and-partnumber-container {
        width: 100%;
    }

    .download-buttons-container {
        margin-bottom: 0.5em;
        justify-content: center;
    }

    .images-column {
        grid-row: 3;
        margin-bottom: 1em;
    }

    .carousel-container {
        max-width: 100%
    }

    .price-and-promotion-container {
        grid-column: initial;
        grid-row: 2;
        margin-bottom: 1em;
    }

    .price-wrapper {
        padding-left: 0rem;
    }
}

.props-section-container {
    width: 100%;
    padding: 1.5em 0em 3em 0em;
}

.props-section {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
}

@media (max-width: 1600px) {
    .props-section {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 1200px) {
    .props-section {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 650px) {
    .props-section {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.props-section-item {
    white-space: normal;
    padding: 0px 0px 0px 20px;
    text-indent: -1em;
    break-inside: avoid;
}

.props-section-item-value-text {
    overflow-wrap: break-word;
    text-indent: -0px !important;
}

.links-section-container {
    width: 100%;
    padding-top: 1.5em;
    margin-bottom: 1em;
}

.links-section {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.links-section-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.related-link {
    min-width: 0px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-decoration: none;
}

@media (min-width: 576px) {
    .links-section-item {
        flex-wrap: wrap;
    }
}