.login-or-signIn-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-or-signIn-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-or-signIn-label-column {
    height: 40px;
    display: flex;
    align-items: center;
}

.login-or-signIn-input-column {
    height: 40px;
}

.login-or-signIn-other-page-redirect-container {
    display: flex;
    justify-content: center;
}

.login-or-signIn-other-page-redirect-button {
    margin-left: 1rem;
}

.parent-fullscreen-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../../../img/loginAndSignInPage_Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.children-limit-space-with-padding {
    padding: 5%;
}

body > div {
    margin: 0px;
    padding: 0px !important;
    max-width: 100% !important;
}

header > nav {
    margin-bottom: 0px !important;
}

body > div > main {
    padding-bottom: 0px !important;
}

.validation-span {
    padding: 0px 0px 0px 35%;
}