.parent-fullscreen-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../../../img/loginAndSignInPage_Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.children-limit-space-with-padding {
    padding: 55px;
}

body > div {
    margin: 0px;
    padding: 0px !important;
    max-width: 100% !important;
}

header > nav {
    margin-bottom: 0px !important;
}

body > div > main {
    padding-bottom: 0px !important;
}

.validation-span {
    padding: 0px 0px 0px 35%;
}