@model CarouselPartialsModel
@{
	Layout = null;

	string imagePath = Url.Content(Model.Image.ImageSrc);
}

<a class="carousel-item" href="@imagePath" target="_blank" rel="noopener noreferrer">
	<img src="@imagePath" class="carousel-item-image" alt="Image">
</a>