@using MOSTComputers.UI.Web.Models.ProductCharacteristicsComparer

@model ExternalPropertiesListPartialModel
@{
}

<table class="full-parent-width full-parent-height">

    @if (Model.Properties.Count() > 0)
    {
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Order</th>
            </tr>
        </thead>
    }

    @foreach (ExternalXmlPropertyDisplayData externalProperty in Model.Properties)
    {
        <tr class="full-parent-width">
            <td>
                <label>@externalProperty.CategoryId</label>
            </td>
            <td>
                <label>@externalProperty.Name</label>
            </td>
            <td>
                <label>@externalProperty.Order</label>
            </td>
        </tr>
    }
</table>