@model LocalAndExternalXmlComparerPartialModel
@{
}

<div class="d-inline-flex full-parent-width full-parent-height">
    <div class="full-parent-height d-flex flex-column" style="width: 50%">
        <h5 class="align-text-center">Local</h5>

        <textarea class="full-parent-width full-parent-height">
            @(Model.LocalXml ?? string.Empty)
        </textarea>
    </div>

    <div class="full-parent-height d-flex flex-column" style="width: 50%">
        <h5 class="align-text-center">External</h5>

        <textarea class="full-parent-width full-parent-height">
            @(Model.ExternalXml ?? string.Empty)
        </textarea>
    </div>
</div>