.promotion-group-images-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion-group-image-item {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 1em;
}

.promotion-group-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}