.promotion-group-images-viewer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.promotion-groups-list {
    height: 100%;
    overflow-y: auto;
}

.promotion-group-item {
    width: 100%;
    border: 1px lightgray solid;
}

    .promotion-group-item:hover {
        background-color: lightgray;
    }

    .promotion-group-item.selected {
        background-color: gray;
    }

.promotion-group-item-image-div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 3em;
}

.promotion-group-item-group-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.promotion-images-container {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}