@page
@using MOSTComputers.Services.Identity.Models
@using MOSTComputers.UI.Web.RealWorkTesting.Models.Authentication
@using MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.Accounts.Admin
@using static MOSTComputers.UI.Web.RealWorkTesting.Utils.SelectListItemUtils

@model MOSTComputers.UI.Web.RealWorkTesting.Pages.Accounts.Admin.AdminPanelModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/HtmlBodyHavePageHeight.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NotificationBox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Accounts/CommonStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayPopupsCommon.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/ElementDisplayToggle.js"></script>
    <script src="~/js/NotificationBox.js"></script>
    <script src="~/js/Pages/Shared/PopupCommonElements.js"></script>
    <script src="~/js/Pages/Accounts/CommonElements.js"></script>
    <script src="~/js/Pages/Accounts/AdminPanel.js"></script>
}

<div class="full-parent-width full-parent-height d-flex flex-column" style="padding: 3% 5%">
    <div id="user_list_container" class="full-parent-width flex-grow-1 flex-shrink-0">
        <partial name="Accounts/Admin/_UsersListPartial" model='new UsersListPartialModel()
        {
            Users = Model.Users,
            ContainerElementId = "user_list_container",
            NotificationBoxId = "topNotificationBox",
        }' />
    </div>

    <button id="add_new_user_button" type="button" class="btn btn-success"
        onclick="redirectToSignInPageCommon(@((int)SignInPageUsageOptionsEnum.CreateAccount), 'Accounts/Admin/AdminPanel')">
        Add New User
    </button>
</div>

<div id="ChangePassword_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ChangePassword_modal_dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ChangePassword_popup_modal_content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<ul id="topNotificationBox" class="top-notification-box"></ul>

@Html.AntiForgeryToken()