#productDisplay_table {
    border-spacing: 10px 5px;
    border-collapse: separate
}

.productDisplay_table_header_td {
    text-align: center;
    font-size: 17px;
}

.product-name-td {
    padding-left: 10px
}

.searchStringPartAndOriginPopupDisplay_container_div {
    position: relative;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}

.searchStringPartAndOriginPopupDisplay_ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.searchStringPart_td {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.productSearchString-popup-searchStringPart-label {
    opacity: 0;
}

.searchStringPartOrigin_li_container_row {
    position: relative;
    z-index: 9999;
}

.searchStringPartOrigin_li {
    display: inline;
    min-width: 100px;
    width: max-content;
    max-width: 400px;
    border: 1px solid #ed9e79;
    border-radius: 5%;
    position: absolute;
    visibility: hidden;
    background-color: #fffaed;
}

.searchStringPartOrigin_li_singleItemContainerList {
    display: inline-flex;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin-bottom: 8px;
}

.searchStringPartOrigin_li_singleItemContainer_SearchStringPart_li {
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
}
.searchStringPartOrigin_li_singleItemContainer_SearchStringPart_h4 {
    margin: 0px;
}

.searchStringPartOrigin_li_singleItemContainer_characteristicId_h6 {
    color: dimgray;
    height: 100%;
    margin: 0px 0px 0px 9px;
    padding-bottom: 1px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchStringPartOrigin_li_displayInline {
    display: inline;
}

.searchStringPartOrigin_searchStringPartDisplay_searchStringPart_h4 {
    margin: 0px;
}

.searchStringPartOrigin_li_multipleItemContainerList {
    display: inline-flex;
    text-align: center;
    padding: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
}

.searchStringPartOrigin_li_multipleItemContainerList_possibilitiesText {
    margin: 2px 5px 8px 5px;
}

.searchStringPartOrigin_multipleOriginsDisplayList {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    left: 0px;
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 4%;
    padding: 0px;
    width: max-content;
    max-width: 400px;
}

.searchStringPartOrigin_multipleOriginsDisplayList_containerOfLabels_li {
    border-bottom: 1.5px solid darkgray;
}

.searchStringPartOrigin_multipleOriginsDisplayList_containerOfLabels_ul {
    display: inline-flex;
    text-align: center;
    padding: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
}

.searchStringPartOrigin_multipleOriginsDisplayList_nameLabel {
    margin: 0px;
}

.searchStringPartOrigin_li_multipleItemContainer_characteristicId_h6 {
    color: dimgray;
    height: 100%;
    margin: 0px 0px 0px 9px;
    padding-bottom: 1px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchStringPartOrigin_noItems_searchStringPartDisplay {
    text-align: center;
}

.productDisplay_table_displayLabel {
    text-align: center;
}