.product-image-active-button-container {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 0;
    bottom: 0px;
    pointer-events: none;
    user-select: none;
}

.product-image-active-button {
    pointer-events: all;
}

.product-image-delete-button-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    right: 0px;
    top: 0;
    bottom: 0px;
    pointer-events: none;
    user-select: none;
}
.product-image-delete-button {
    width: 0.3em;
    height: 0.3em;
    pointer-events: all;
}

.property-td-alignedOnTop {
    vertical-align: top;
}

.property-value-td {
    width: 100%;
    padding: 5px 1em 5px 7px;
}

.property-value-textarea {
    resize: none;
    scrollbar-width: none;
}

.product-xmlPlacement-checkbox {
    margin-right: 20px;
}

.property-characteristic-td {
    width: 20%;
    padding-right: 20px;
}

.property-delete-button-td {
    width: 6%;
    direction: rtl;
}