p {
    margin-bottom: 0px;
}

button {
    box-shadow: none !important;
}

.single-product-editor-popup-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-product-editor-popup-header-item {
    margin-left: 0.5em;
}

.product-new-status-select {
    margin-right: 1em;
}

.single-product-editor-popup-header-buttons-container {
    display: flex;
    flex-wrap: nowrap;
}

::deep .image-file-hidden-input {
    width: 0px;
}

.save-button-and-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.save-button-container {
    height: 100%;
}

    .save-button-container.loading {
        height: 0px;
        visibility: hidden;
    }

.save-button {
    height: 100%;
    white-space: nowrap;
}

.round-loader-default {
    display: none;
}

.round-loader-default.loading {
    display: unset;
}

.single-product-editor-popup-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-width: 2px;
}

.main-product-info-container {
    width: 100%;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.main-product-info-text {
    margin-right: 1em;
}

.images-list-container {
    width: 100%;
    margin-bottom: 0.5em;
    height: 13em;
}

.images-list {
    width: 100%;
    height: 100%;
    padding: 0.5em 0.5em;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style: none;
}

.image-list-item {
    min-width: 20%;
    position: relative;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
}

.image-button {
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

    .image-button.without-image {
        background-color: gray;
    }

.image-active-checkbox-container {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 0;
    bottom: 0px;
    pointer-events: none;
    user-select: none;
}

.image-active-checkbox {
    pointer-events: all;
}

.image-delete-button-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    right: 0px;
    top: 0;
    bottom: 0px;
    pointer-events: none;
    user-select: none;
}

.image-delete-button {
    width: 0.3em;
    height: 0.3em;
    pointer-events: all;
}

.image-date-text {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
}

.promotion-product-file-name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.promotion-product-file-name-text {
    margin-right: 0.25em;
}

.promotion-product-file-name {
    text-align: center;
    text-decoration: none;
}

.image-file-name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-file-name {
    text-align: center;
    text-decoration: none;
}

.file-empty-placeholder {
    width: 100%;
    height: 1.5em;
}

.image-add-button-list-item {
    position: relative;
    min-width: 10%;
}

.image-add-button {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: black;
}

.promotion-data-container {
    width: 100%;
}

.info-promotion-container {
    display: flex;
    flex-direction: row;
}

.info-promotion-expire-date {
    padding-left: 0.5em;
}

.search-string-table-container {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.properties-table-container {
    width: 100%;
    padding-bottom: 1.5em;
}

.properties-table {
    width: 100%;
}

.property-td-alignedOnTop {
    vertical-align: top;
}

.property-value-td {
    width: 100%;
    padding: 5px 1em 5px 7px;
}

.property-value-textarea-container {
    width: 100%;
    height: 100%;
}

.property-value-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    scrollbar-width: none;
}

.product-xmlPlacement-checkbox {
    margin-right: 20px;
}

.property-characteristic-td {
    width: 20%;
    padding-right: 20px;
}

.property-delete-button-td {
    width: 6%;
    direction: rtl;
}

::deep .product-data-popup-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

::deep .product-data-popup-header-text {
    margin-right: 0.5em;
    margin-bottom: 0em;
}

::deep .search-string-data-popup-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

::deep .search-string-data-popup-header-text {
    margin-right: 0.5em;
    margin-bottom: 0em;
}

::deep .data-changed-popup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::deep .data-changed-popup-unsaved-changes-text {
    margin-bottom: 1em;
}

::deep .data-changed-popup-option-buttons-container {
    display: flex;
    flex-direction: row;
}

::deep .data-changed-popup-option-button-container {
    display: flex;
    flex-direction: row;
    margin-right: 1.5em;
}

::deep .data-changed-popup-option-button-container.last {
    margin-right: 0em;
}