.related-product-search-results-table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.related-product-search-result {
    padding: 0.25rem 0.5rem;
}

    .related-product-search-result.related-product-search-result-inactive {
        color: #989898;
    }

    .related-product-search-result:hover {
        background-color: #e5e4e4;
    }

    .related-product-search-result.related-product-search-result-inactive:hover {
        background-color: #ffcaca;
    }

.related-product-search-result-entry-with-margin {
    padding-right: 2rem;
}