.promotion-product-file-editor-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.popup-header-text {
    margin-right: 1em;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.25em;
}

.add-button {
    aspect-ratio: 1 / 1;
}

.promotion-product-file-editor-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-width: 2px;
}

.info-promotion-container {
    display: flex;
    flex-direction: row;
}

.info-promotion-expire-date {
    padding-left: 0.5em;
}

.promotion-product-files-table-container {
    flex-grow: 1;
}

.promotion-product-files-table {
    width: 100%;
    height: min-content;
}

.promotion-product-file-active-input {
    pointer-events: none;
}

.promotion-product-file-file-column {
    max-width: 6em;
    max-height: 3em;
    padding-right: 1em;
}

.promotion-product-file-edit-button {
    width: auto;
    display: flex;
    padding: 0.2em;
}

.promotion-product-file-edit-button-image {
    height: 1em;
}