p {
    margin-bottom: 0px;
}

.promotion-product-file-single-editor-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-name-text {
    margin-right: 1em;
}

.header-product-id-text {
    margin-right: 1em;
}

.header-modified-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
}

.header-modified-date-text {
    white-space: nowrap;
    color: darkgray;
    font-size: smaller;
}

.save-button-container {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    display: flex;
    justify-content: end;
    -webkit-justify-content: end;
    align-items: center;
    -webkit-align-items: center;
    margin-right: 0.5em;
}

.promotion-product-file-single-editor-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-width: 2px;
}

.body-inputs-container {
    flex-grow: 1;
    overflow-y: auto;
}

.basic-input-container {
    margin-bottom: 0.5em;
}

.basic-input-label {
    margin-right: 0.5em;
}

.file-select-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.file-search-container {
    width: 100%;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.file-search-active-on-label {
    height: min-content;
    align-self: center;
}

.file-search-active-on-input {
    margin-left: 0.25em;
    margin-bottom: 0.5em;
}

.file-search-text-input {
    flex: 0 1 auto;
}

.file-search-button-container {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    padding-left: 2em;
}

.file-search-list-container {
    width: 100%;
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
}