#ProductImages_popup {
    padding-bottom: 6px;
}

#ProductImages_popup_main_img_display {
    background-color: white;
    height: 80%;
    max-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.draggedImageLi {
    opacity: 0 !important;
}

#productImageDisplay_ul {
    display: inline-flex;
    flex-shrink: 0;
    margin: 0px;
    padding: 4px 0px 0px 0px;
    overflow-x: auto;
    scroll-margin-top: 5px;
    white-space: nowrap;
    overflow-y: hidden;
    align-items: center;
}

    #productImageDisplay_ul > li {
        position: relative;
        display: inline;
        margin: 0px 6px;
    }

        #productImageDisplay_ul > li > button {
            height: 92px;
        }

            #productImageDisplay_ul > li > button > img {
                height: 85px;
            }


.product-image-popup-current-image-display {
    height: inherit;
}

.product-image-popup-image-active-button-container {
    display: inline;
    position: relative;
    top: 10px;
    bottom: 0px;
}

.product-image-popup-image-active-button {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0px;
}

.product-image-popup-image-delete-button-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    right: 0px;
    top: 0;
    bottom: 0px;
    pointer-events: none;
    user-select: none;
}

.product-image-popup-image-delete-button {
    width: 0.25em;
    height: 0.25em;
    pointer-events: all;
}

.product-image-popup-image-file-name-display-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-image-popup-image-add-button-list-item {
    height: 100%;
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
}

.product-image-popup-image-add-input {
    position: absolute;
    top: 0px;
    bottom: 0px;
    visibility: visible;
    opacity: 0;
    width: 150px;
}

.product-image-popup-image-add-label {
    font-size: 52px;
    text-align: center;
    width: 150px;
}

.product-image-popup-view-html-display-div {
    overflow-wrap: break-word;
}

.product-image-popup-footer_buttons-container {
    height: 60px;
}

.product-image_modal_footer_buttons_table {
    margin: 0px;
    padding: 0px;
}

    .product-image_modal_footer_buttons_table > td {
        width: 50%;
        padding: 0px;
    }