<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to portal.mostbg.com." />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="MOSTComputers.UI.Web.Blazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <script src="_framework/blazor.web.js" autostart="false"></script>

    <script>
        const maximumRetryCount = 3;
        const retryIntervalMilliseconds = 1000;

        const startReconnectionProcess = () => {

            let isCanceled = false;

            (async () => {
                for (let i = 0; i < maximumRetryCount; i++) {

                    await new Promise(resolve => setTimeout(resolve, retryIntervalMilliseconds));

                    if (isCanceled) {
                        return;
                    }

                    try {
                        const result = await Blazor.reconnect();
                        if (!result) {

                            // The server was reached, but the connection was rejected. Reload the page.
                            location.reload();
                            return;
                        }

                        // Successfully reconnected to the server.
                        return;
                    } catch {

                        // Didn't reach the server; try again.
                    }
                }

                // Retried too many times; reload the page.
                location.reload();
            })();

            return {
                cancel: () => {
                    isCanceled = true;
                },
            };
        };

        let currentReconnectionProcess = null;

        Blazor.start({
            circuit: {
                // configureSignalR: function (builder) {
                //     builder.withServerTimeout(3000);
                //     builder.withKeepAliveInterval(3000);
                // },
                reconnectionOptions: {
                    maxRetries: maximumRetryCount,
                    retryIntervalMilliseconds: (previousAttempts, maxRetries) =>
                        previousAttempts >= maxRetries ? null : retryIntervalMilliseconds
                },
                reconnectionHandler: {
                    onConnectionDown: (options, error) => currentReconnectionProcess ??= startReconnectionProcess(),
                    onConnectionUp: () => {
                        currentReconnectionProcess?.cancel();
                        currentReconnectionProcess = null;
                    }
                }
            }
        });
    </script>

    <Routes />
    <ActivityTracker />
</body>

</html>
