<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="MOSTComputers.UI.Web.Blazor.styles.css" />
    <link rel="icon" type="image/png" href="img/logo_16x16.png" />
    <meta name="description" content="Welcome to portal.mostbg.com." />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ActivityTracker />
    <script src="_framework/blazor.web.js"></script>
    <script src="lib/ZXingLib.bundle.js"></script>
    <script src="lib/ZXingBrowser.bundle.js"></script>
</body>

</html>
