p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

.promotion-on-one-line {
    display: flex;
    flex-wrap: wrap;
}

.promotion-text {
    width: max-content;
    margin-right: 0.75em;
}

.promotion-required-product-ids-list {
    width: min-content;
    display: inline-flex;
    list-style: none;
}

.promotion-required-product-id-list-item {
    margin: 0em 0.5em;
}

.promotion-required-product-id-text {
    width: min-content;
}