.nav-with-scrollable-part-container {
    min-width: min-content;
}

.nav-with-scrollable-part {
    display: flex;
    flex-direction: row;
    min-width: min-content;
/*    height: 3em;*/
}

.navbar-brand {
    min-width: max-content;
    height: 100%;
    padding: 0;
    margin: 0;
}

    .navbar-brand.inside-toggler-container {
        display: none;
    }

.navbar-logo-and-toggler-container {
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-logo {
    max-width: 100%;
    height: 100%;
    background-image: url('img/Logos/Large-Logo-Black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*    max-height: 4.3em;*/
    aspect-ratio: 2182 / 649;
    object-fit: contain;
    -o-object-fit: contain;
}

.navbar-toggler-container {
    display: none;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5em;
    height: 2.5em;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75em rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.hidden-navbar-toggler {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.nav-scrollable {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.nav-end-data-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nav-item {
    font-size: 0.9em;
}

    .nav-item > form {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .nav-item ::deep .nav-link {
        color: #FFFFFF;
        background: none;
        border: none;
        /*        border-radius: 4px;*/
        /*        height: 1.5em;*/
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0.15em 1em
    }

    .nav-item ::deep a.active {
/*        background-color: rgba(255,255,255,0.37);*/
        background-color: rgba(189, 17, 5, 0.45);
    }

    .nav-item ::deep .nav-link:hover {
/*        background-color: rgba(255,255,255,0.1);*/
        background-color: rgba(189, 17, 5, 0.37);
    }

@media (max-width: 641px) {

    .nav-with-scrollable-part {
        flex-direction: column;
    }

    .navbar-custom-brand {
        display: none;
    }

        .navbar-custom-brand.inside-toggler-container {
            display: block;
        }

    .navbar-logo-and-toggler-container {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        align-items: center;
    }

    .navbar-toggler-container {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .nav-scrollable {
        flex-grow: initial;
        flex-direction: column;
        margin-bottom: 0.5em;
    }

    .nav-end-data-container {
        flex-grow: initial;
    }

    .hidden-navbar-toggler:not(:checked) ~ .nav-scrollable {
        display: none;
    }

    .nav-item ::deep .nav-link {
        text-align: start;
    }
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.75em;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-lock-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
}

.bi-person-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
}

.bi-person-badge-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-badge' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3Cpath d='M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z'/%3E%3C/svg%3E");
}

.bi-person-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3E%3C/svg%3E");
}

.bi-arrow-bar-left-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-bar-left' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z'/%3E%3C/svg%3E");
}