@page
@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.UI.Web.Pages.Shared;

@model MOSTComputers.UI.Web.Pages.ProductDisplayModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/ProductDisplay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayPopupsCommon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayXmlPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayImagesPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NotificationBox.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/StringManipulation/DecodeFromHtml.js"></script>
    <script src="~/js/TextHighlight.js"></script>
    <script src="~/js/Pages/Shared/ProductXmlPopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductImagesPopupControl.js"></script>
    <script src="~/js/NotificationBox.js"></script>
    <script src="~/js/Pages/ProductAndPropertyDisplayCommon.js"></script>
    <script src="~/js/Pages/ProductDisplay.js"></script>
}


<div class="container" style="padding:0px;">
    <table id="productDisplay_table">
        <thead>
            <tr>
                <td class="productDisplay_table_header_td">

                    <label>Status</label>

                    <select id="StatusSearch_select" placeholder="Search..." style="width:90px;">
                        <option value="null" selected>All</option>
                        <option value="@Convert.ToInt32(ProductStatusEnum.Unavailable)">Unavailable</option>
                        <option value="@Convert.ToInt32(ProductStatusEnum.Call)">Call</option>
                        <option value="@Convert.ToInt32(ProductStatusEnum.Available)">Live</option>
                    </select>
                </td>

                <td class="productDisplay_table_header_td">
                    <label>Name</label>
                    <input id="NameSearch_input" placeholder="Search..." />
                </td>

                <td class="productDisplay_table_header_td">
                    <label>SearchString</label>
                    <input id="SearchStringSearch_input" placeholder="Search..." />
                </td>

                <td class="productDisplay_table_header_td">
                    <label>ID</label>
                    <input id="IDSearch_input" placeholder="Search..." style="width:60px;" oninput="IDSearch_input_oninput_search()" />
                </td>

                <td class="productDisplay_table_header_td">
                    <label>Category</label>
                    <select id="CategorySearch_select" asp-items="Model.AllCategoriesSelectItems"></select>
                </td>

                <td class="productDisplay_table_header_td">
                    <label>Price</label>
                </td>

                <td class="productDisplay_table_header_td">
                    <label style="width:120px;">Should Update</label>
                    <select id="NeedsToBeUpdatedSearch_select" class="full-parent-width">
                        <option value="null" selected>All</option>
                        <option value=True>New</option>
                        <option value=False>Hold</option>
                    </select>
                </td>

                <td class="productDisplay_table_header_td">
                    <label>Processed</label>
                    <select id="IsProcessedSearch_select" class="full-parent-width">
                        <option value="null" selected>All</option>
                        <option value=True>Yes</option>
                        <option value=False>No</option>
                    </select>
                </td>

                <td class="productDisplay_table_header_td">
                    <label>View Images</label>
                </td>

                <td class="productDisplay_table_header_td">
                    <label>Export to XML</label>
                </td>
            </tr>
        </thead>

        <tbody id="tableDataHolder">

            <partial name="_ProductsAndStatusesDisplayPartialTable"
                model="new ProductsAndStatusesDisplayPartialTableModel() { ProductsAndStatuses = ProductDisplayModel.ProductsAndStatuses, AllCategoriesSelectItems = Model.AllCategoriesSelectItems }" />

        </tbody>
    </table>

    <div id="ProductXml_modal" class="modal fade" tabindex="-1" role="dialog">
        <div id="ProductXml-modal-dialog" class="modal-dialog modal-dialog-full-parent-width">
            <div id="ProductXml_popup_modal-content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
                
            </div>
        </div>
    </div>

    <div id="ProductImages_modal" class="modal fade" tabindex="-1" role="dialog">
        <div id="ProductImages-modal-dialog" class="modal-dialog modal-dialog-full-parent-width">
            <div id="ProductImages_popup_modal-content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
            </div>
        </div>
    </div>

    <ul id="copiedXmlNotificationBox" class="copied-xml-notification-box"></ul>

    @Html.AntiForgeryToken()
</div>

<script>

    document.getElementById("SearchStringSearch_input").oninput = function () { throttleCust(MultiSearch, 120).call(); }
    document.getElementById("NameSearch_input").oninput = function () { throttleCust(MultiSearch, 120).call(); }
    document.getElementById("CategorySearch_select").onchange = function () { throttleCust(MultiSearch, 120).call(); }
    document.getElementById("StatusSearch_select").onchange = function () { throttleCust(MultiSearch, 120).call(); }
    document.getElementById("NeedsToBeUpdatedSearch_select").onchange = function () { throttleCust(MultiSearch, 120).call(); }
    document.getElementById("IsProcessedSearch_select").onchange = function () { throttleCust(MultiSearch, 120).call(); }

</script>