<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=(local);Initial Catalog=MostDBNew_Test;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ProductImageDirectory" value="../ProductImages.Tests.Integration" />
		<add key="TestingImageFilePath" value="./Images/RND_PC_IMG.png" />
	</appSettings>
</configuration>