.copied-xml-notification-box {
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    z-index: 9999;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.copy-to-xml-success-message {
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    width: 105px;
    height: 50px;
    background-color: #ECECEC;
    margin: 9px;
    border-radius: 0.5rem;
}
