html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.full-parent-width {
    width: 100%
}

.full-parent-height {
    height: 100%
}

.input-number-remove-spinners::-webkit-outer-spin-button,
.input-number-remove-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
.input-number-remove-spinners[type=number] {
    -moz-appearance: textfield;
}