.product-xml-text-area-container {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-xml-text-area {
    flex-shrink: 0;
    flex-grow: 1;
}