<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DocumentDBConnectionString" connectionString="Data Source=MOSTAPP;Initial Catalog=MOST4WebDB;User Id=test35;Password=Most321;TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="HtmlInvoiceTemplate" value="../PdfDocumentTemplates/TEMP_HTML_INVOICE_TEMPLATE.html" />
		<add key="HtmlWarrantyCardWithoutPricesTemplate" value="../PdfDocumentTemplates/TEMP_HTML_WARRANTY_CARD_WITHOUT_PRICES_TEMPLATE.html" />
		<add key="HtmlWarrantyCardWithPricesTemplate" value="../PdfDocumentTemplates/TEMP_HTML_WARRANTY_CARD_WITH_PRICES_TEMPLATE.html" />
		
		<add key="PdfInvoiceTestFolder" value="./PDF_TEST_RESULTS/Invoices" />
		<add key="PdfWarrantyCardWithPricesTestFolder" value="./PDF_TEST_RESULTS/WarrantyCards/WithPrices" />
		<add key="PdfWarrantyCardWithoutPricesTestFolder" value="./PDF_TEST_RESULTS/WarrantyCards/WithoutPrices" />
	</appSettings>
</configuration>