<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PdfInvoiceTemplate" value="../PDF_Templates/TEMP_PDF_INVOICE_TEMPLATE.pdf" />
		<add key="HtmlInvoiceTemplate" value="../PDF_Templates/TEMP_HTML_INVOICE_TEMPLATE.html" />
		<add key="PdfInvoiceTestFolder" value="./PDF_TEST_RESULTS/Invoices" />
	</appSettings>
</configuration>