#propertyDisplayMainContainer_table {
    margin: 10px 15px;
}

.product-properties-editor-product-id-label {
    min-width: 100px;
}

.propertyDisplayMainContainer_table_spaceBetween_td {
    width: 99%;
}

.buttons-for-popups-list {
    display: inline-flex;
    justify-content: flex-end;
    margin: 0px;
}

.button-for-popup-li {
    display: inline;
    margin: 0px 10px;
}

#propertyDisplayMainContainer_table_xmlPopupButton_li {
    min-width: 80px;
}

#searchStringPartAndOriginPopupDisplay_ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.searchStringPart_h2 {
    display: flex;
    margin: 0px 1px;
}

.searchStringPartOrigin_li {
    display: inline;
    min-width: 100px;
    border: 1px solid #ed9e79;
    border-radius: 5%;
    position: absolute;
    visibility: hidden;
    background-color: #fffaed;
}

.searchStringPartAndOriginPopupDisplay_ul_singleItemDisplayContainer_ul {
    display: inline-flex;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin-bottom: 8px;
}

.searchStringPartOrigin_searchStringPartDisplay_forSingleItem {
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
}

.searchStringPartOrigin_searchStringPartDisplay_searchStringPart_h4 {
    margin: 0px;
}

.searchStringPartOrigin_searchStringPartDisplay_li {
    display: inline;
}

.searchStringPartOrigin_searchStringPartDisplay_forSingleItem_displayId_h4 {
    color: dimgray;
    height: 100%;
    margin: 0px 0px 0px 9px;
    padding-bottom: 1px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchStringPartOrigin_li_multipleOriginsDisplay_container_li {
    display: inline-flex;
    text-align: center;
    padding: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
}

.searchStringPartOrigin_li_multipleOriginsDisplay_possibilitiesDisplay {
    margin: 2px 5px 8px 5px;
}

.searchStringPartOrigin_multipleOriginsDisplayList {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    left: 0px;
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 4%;
    padding: 0px;
    width: max-content;
    max-width: 400px;
}

.searchStringPartOrigin_multipleOriginsDisplayList_li {
    border-bottom: 1.5px solid darkgray;
}

.searchStringPartOrigin_multipleOriginsDisplayList_topItems_li {
    display: inline-flex;
    text-align: center;
    padding: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
}

.searchStringPartOrigin_multipleOriginsDisplayList_nameLabel {
    margin: 0px;
}

.searchStringPartOrigin_searchStringPartDisplay_multipleOriginsDisplay_displayId_h6 {
    color: dimgray;
    height: 100%;
    margin: 0px 0px 0px 9px;
    padding-bottom: 1px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchStringPartOrigin_searchStringPartDisplay_noItemsDisplay_searchStringPartDisplay_h4 {
    text-align: center;
}

#modal-title_productSearchStringShow {
    outline: none;
    border: 0px;
    word-break: break-all;
}

#propertyDisplay_table {
    margin: 20px 25px;
}

.property-td-alignedOnTop {
    vertical-align: top;
    padding-top: 8.5px;
}

.propertyWithoutCharacteristicId-characteristic-select-td {
    width: 20%;
}

.property-value-td {
    padding: 5px 5% 5px 0px;
}

.property-value-div {
    word-break: break-all;
    padding: 4px 5px;
    outline-style: inset;
    outline-width: thin;
}

.property-characterisricId-td {
    width: 8%;
}

.property-xmlPlacement-td {
    width: 10%;
    margin-right: 20px;
}

.property-characteristic-td {
    width: 20%;
}

.property-delete-button-td {
    width: 6%;
    direction: rtl;
}