@page "{ReturnUrl?}"
@model LoginModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/BodyFullHeight.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Accounts/LoginAndSignInCommon.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Pages/Accounts/CommonElements.js"></script>
    <script src="~/js/Pages/Accounts/Login.js"></script>
}

<div class="parent-fullscreen-form children-limit-space-with-padding">

    <div class="container login-or-signIn-container mb-2 bg-white">

        <div class="row login-or-signIn-row mb-2">

            <div class="col-3 login-or-signIn-label-column">
                <label>Username</label>
            </div>

            <div class="col-7 login-or-signIn-input-column">
                <input id="loginUsernameInput" type="text" class="full-parent-width full-parent-height" />
            </div>

            <div data-valmsg-for="@(nameof(LoginDTO.Username))" class="text-danger validation-span"></div>
        </div>

        <div class="row login-or-signIn-row mb-3">

            <div class="col-3 login-or-signIn-label-column">
                <label>Password</label>
            </div>

            <div class="col-7 login-or-signIn-input-column">
                <input id="loginPasswordInput" type="password" class="full-parent-width full-parent-height" />
            </div>

            <div data-valmsg-for="@(nameof(LoginDTO.Password))" class="text-danger validation-span"></div>
        </div>

        <div class="row login-or-signIn-row mb-2">
            <div class="col-4">
                <button type="button" class="btn btn-primary full-parent-width"
                    onclick="login('loginUsernameInput', 'loginPasswordInput', '_hidden_returnUrl_input')">
                    Log In
                </button>
            </div>
        </div>

        <div class="row login-or-signIn-row mb-3">
            <div class="col-5 login-or-signIn-other-page-redirect-container">
                <!--
                <label>Dont have an account:</label>
                <button type="button" class="btn btn-secondary login-or-signIn-other-page-redirect-button"
                    onclick="redirectToSignInPage(SignInPageUsageOptions.SignIn, '_hidden_returnUrl_input')">
                    Sign In
                </button>
                -->
            </div>
        </div>

        <span data-validation-summary class="text-danger"></span>
    </div>

    <input id="_hidden_returnUrl_input" asp-for="ReturnUrl" type="hidden" />

</div>
@Html.AntiForgeryToken()