.product-changes-popup-header-list {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.product-changes-popup-header-name-and-id-display-list {
}

.product-changes-popup-header-end-buttons-display-list {
}

.product-changes-popup-header-close-button-li {
    margin-left: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-changes-popup {
    overflow-x: hidden;
    overflow-y: auto;
}

.product-changes-popup-container {
    display: flex;
    flex-direction: column;
}

.product-changes-popup-inner-id-label {
    color: gray;
}

.product-changes-popup-image-list {
    list-style: none;
    flex-direction: row;
    display: flex;
    overflow: auto;
    padding: 0;
}

.product-changes-popup-image-list-item {
    margin: 10px;
}

.product-changes-popup-image-active-button-container {
    display: inline;
    position: relative;
    top: 10px;
    bottom: 0px;
}

.product-changes-popup-image-active-button {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0px;
}

.product-changes-popup-image {
    max-width: 120px;
}

.product-changes-popup-image-delete-button-container {
    display: inline;
    position: relative;
    top: 10px;
    bottom: 0px;
    right: 10px;
}

.product-changes-popup-image-delete-button {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0px;
}

.product-changes-popup-image-add-button-list-item {
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
}

.product-changes-popup-image-add-input {
    position: absolute;
    top: 0px;
    bottom: 0px;
    visibility: visible;
    opacity: 0;
    width: 150px;
}

.product-changes-popup-image-add-label-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
}

.product-changes-popup-image-add-label {
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

.searchString-list-container-element-collection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-changes-popup-searchString-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.product-changes-popup-searchString-searchItem {
    white-space: normal;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 5%;
    visibility: hidden;
}

.product-changes-popup-properties-table {
    min-height: 30px;
    margin-top: 25px;
}

.property-td-alignedOnTop {
    vertical-align: top;
}

.draggedPropertyTr {
    opacity: 1 !important;
    background-color: sandybrown;
}

.draggedPropertyTrPropertyWithSameId {
    background-color: #FFA366;
}

.draggedPropertyTrPropertyWithSameIdDifferentValueItem {
    color: red;
}

.propertyWithoutCharacteristicId-characteristic-select-td {
    width: 20%;
}

.property-value-td {
    width: 100%;
    padding: 5px 1em 5px 7px;
}

.property-value-div {
    word-break: break-all;
    padding: 4px 5px;
    outline-style: inset;
    outline-width: thin;
}

    .property-value-div.siteUrlProperty {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }


.property-characterisricId-td {
    display: none;
}

.property-characterisricId-label {
    display: none;
}

.property-xmlPlacement-td {
    /*    width: 10%;*/
    margin-right: 20px;
}

.product-xmlPlacement-checkbox {
    margin-right: 20px;
}

.property-characteristic-td {
    width: 20%;
    padding-right: 20px;
}

.property-delete-button-td {
    width: 6%;
    direction: rtl;
}

.product-changes-popup-property-add-button {
    margin-top: 7px;
}