@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.Models.Product.Models.Promotions.Groups
@using static MOSTComputers.UI.Web.Blazor.Components.Pages.Home

@{
    Product product = PromotionGroupPromotionPopupData.Product;
}

<Popup IsVisible="PromotionGroupPromotionPopupData.IsVisible"
    PopupMarginOptions='new() { Left = "5vw", Top = "5vh", Right = "5vw", Bottom = "5vh" }'>
    <HeaderContent>
        <div class="full-parent-width full-parent-height d-flex flex-row align-items-center">

            @if (product.Manufacturer is not null)
            {
                <h4 class="mb-0 me-2">Manufacturer: @product.Manufacturer.RealCompanyName</h4>
            }
        </div>
    </HeaderContent>

    <ChildContent>
		<div class="group-promotion-display-container">
			<MOSTComputers.UI.Web.Blazor.Components.Promotions.GroupPromotionsDisplay>
			</MOSTComputers.UI.Web.Blazor.Components.Promotions.GroupPromotionsDisplay>
        </div>

    </ChildContent>
</Popup>

@code {
    [Parameter, EditorRequired] public required PromotionGroupImagesPopupData PromotionGroupPromotionPopupData { get; set; }
}
